<table class="table table-responsive table-bordered table-hover allSticker">
  <thead class="small">

    <tr>
      <th> USER ID </th>
      <th> USERNAME </th>
      <th> POST </th>
      <th> LOGIN TIME </th>
      <th> FOLLOWER </th>
      <th> FOLLOWING </th>
      <th> COMMENT </th>
      <th> LIKES</th>
      <th> GENDER </th>
      <th> AGE </th>
      <th> LOCATION </th>
      <th> LANGUAGE </th>
      <th> REPORTS </th>
      <th> BADGE </th>
      <th> REPORT RESAONS </th>
      <th> STATUS </th>
    </tr>

  </thead>
  <tr>

    <td>
      <div> </div>
    </td>

    <td></td>
    <td> </td>
    <td></td>
    <td></td>

    <td>
      <div> </div>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>

  </tr>

  </tbody>
</table>
<header class="app-header navbar">

  <a class="brandname  text-warning " text center> Reports</a>
</header>
<table class="table table-responsive table-striped">
  <thead class="small">

    <tr>
      <th> REPORTER USER ID </th>
      <th> REPORTER USERNAME </th>
      <th> POST </th>
      <th> FOLLOWER </th>
      <th> FOLLOWING </th>
      <th> REPORTER LOCATION </th>
      <th> REPORT DATE </th>
      <th> REPORT RSON</th>
      <th> COUNTRY </th>
      <th> REPORT EXPLANATION </th>
      <th> ACTION </th>
    </tr>

  </thead>
  <tbody class="small">

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

    </tr>

  </tbody>
</table>