<table class="table table-responsive table-striped" id="MyTbl">
  <thead class="small">

    <tr>
      <th>HASHTAG</th>
      <th>HASHTAG ID </th>
      <th>LOCATION </th>
      <th>DATE </th>
      <th>SHARING </th>
      <th>COMMENT </th>
      <th>REACH</th>
      <th>REPORTS</th>
      <th>INTERACTION </th>
      <th> REPORTS </th>
      <th>TT LIST </th>
    </tr>

  </thead>
  <tbody class="small">

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a class="text-warning">VIEW</a><i class="fa fa-trash-o ml-2 " aria-hidden="true "></i></td>
    </tr>

  </tbody>

</table>

<ul class="pagination">
  <li class="page-item "><a class="page-link ">Prev</a></li>

  <li class="page-item "><a class="page-link ">Next</a></li>
</ul>