small {
  white-space: nowrap;
}

.table td,
.table th {
  border-top: none !important;
}

.table th,
.text_align {
  text-align: center;
}

.container-fluid {
  background: #f7f7f7 !important;
}

.card-header {
  background-color: white !important;
  font-weight: bold !important;
  font-size: 15px;
  border-bottom: none !important;
}