<table class="table table-responsive table-bordered table-hover allSticker" id="MyTbl">
  <thead class="small">

    <tr>
      <th> Sr.No. </th>
      <th> Username </th>
      <th> Name </th>
      <th> E-mail Address </th>
      <th> Login Time </th>
      <th> Gender </th>
      <th> Age </th>
      <th> Location </th>
      <th> Language </th>
      <th> Follower </th>
      <th> Following </th>
      <th> Monthly Follower Increase </th>
      <th> Post </th>
      <th> Post Allowed </th>
      <th> Tagged Post </th>
      <th> Saved Post </th>
      <th> Activities </th>
      <th> Mentions </th>
      <th> Messaging </th>
      <th> Mobile Number </th>
      <th> Reports </th>
      <th> Badge </th>
      <th> Species </th>
      <th> Status </th>
    </tr>

  </thead>
  <tbody class="small">

    <tr>
      <td> </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td> <i class="fa fa-eye ml-2"></i></td>
      <td>
        <fieldset class="rating text-center ">
          <label tappable class="text-secondary "><i class="fa fa-star"></i></label>
          <label tappable class="text-secondary "><i class="fa fa-star"></i></label>
        </fieldset>
      </td>
      <td>

      </td>
      <td><i class="fa fa-check-circle"></i></td>
      <td><a class="text-warning">VIEW</a><i class="fa fa-trash-o ml-2 " aria-hidden="true "></i></td>

    </tr>

  </tbody>

</table>

<ul class="pagination ">
  <li class="page-item "><a class="page-link ">Prev</a></li>

  <li class="page-item ">
    <a class="page-link ">Next</a></li>
</ul>