<ng4-loading-spinner> </ng4-loading-spinner>
<div class="app-body">
  <main class="main d-flex align-items-left">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ">
          <div class="card ">
            <div class="card-body p-4">
              <h1>Change Password</h1>
              <form #settingForm="ngForm" (ngSubmit)="updatePassword(settingForm)">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control username-input" name="old_pass" [(ngModel)]="old_pass" placeholder="Current password" required/>
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" required minlength="8" pattern="^(?=.*\d)(?=.*[A-Z])(?!.*\s).*$" class="form-control username-input" name="user_pass1" #user_pass1="ngModel" [(ngModel)]="new_pass" placeholder="New Password" />
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" required pattern="^(?=.*\d)(?=.*[A-Z])(?!.*\s).*$" class="form-control username-input" name="user_pass2" #user_pass2="ngModel" [(ngModel)]="pass2" placeholder="Repeat Password" />
                </div>
                <p class="text-center" *ngIf="user_pass1.invalid && (user_pass1.dirty || user_pass1.touch)">Please include at least 1 uppercase & 1 lowercase letter, a number, and 8 characters.</p>
                <p class="text-center" *ngIf="(user_pass2.errors?.required || (user_pass1.value !== user_pass2.value)) && (user_pass2.dirty || user_pass2.touch)">Your password doesn't match</p>
                <div class="text-danger text-center mb-3" [style.margin-bottom]="'10px'" [hidden]="!errormsg">{{errormsg}}</div>
                <div class="alert alert-success mb-3" [style.margin-bottom]="'10px'" [hidden]="!successMessage">
                  {{successMessage}}
                </div>
                <button type="submit" class="btn btn-block btn-success">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>