// core overrides
$navbar-bg: #313541;
$navbar-brand-bg: #313541;
$sidebar-bg: #fff;
$sidebar-nav-link-color: #000;
$sidebar-nav-link-active-color: #000;
$sidebar-header-bg: #fff;
$primary: theme-colors('primary')!default;
$dark: theme-colors('dark')!default;